
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700');

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
}

.display_table {
    display: table;
    height: 100%;
    width: 100%;
}

.display_table_cell {
    display: table-cell;
    vertical-align: middle;
}

.page_breadcamb {
    height: 200px;
    background-color: #e3e3e3;
    background-image: url(../img/breadcamb.jpg);
    background-size: contain;
    background-position: center center;
}

.page_breadcamb .display_table {
    height: 200px;
}

.page_breadcamb h5 {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 20px 15px;
    font-size: 23px;
    display: inline-block;
}

.page_breadcamb a {
    color: #000;
}
.documentation_menu {
	position: fixed;
	width: 20%;
	background-color: #fff;
	height: 100%;
	-webkit-box-shadow: 0 0 25px #ddd;
	box-shadow: 0 0 25px #ddd;
    padding-top: 100px;
}

.documentation_menu h3 {
	padding-left: 20px;
	border-bottom: 2px solid;
	padding-bottom: 10px;
}

.documentation_menu li a {
	color: #333;
	padding: 10px 20px 5px;
	display: block;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.documentation_menu li a:hover {
	color: #333;
    background-color: #ebebeb;
    text-decoration: none;
}

.documentation_menu li a:focus{
    background-color: #ebebeb;
}

.documentation_content{
    width: 80%;
    float: right;
}
pre{
    background-color: #f8f8f8;
    padding: 25px 0;
    border: 1px solid #ddd;
}
.bg-red{
    background-color: #f5002f;
    color: #fff;
    padding: 1px;
}